<header class="site-header">
    <div class="nav-container">
      <a href="index.html" class="logo">
        <img src="images/logo-oscnl.png" alt="OSC NL" class="logo-img">
        <span class="logo-text">OSC NL</span>
      </a>
  
      <nav class="main-nav">
        <ul>
          <li><a href="index.html" data-page="inicio">Inicio</a></li>
          <li><a href="registro.html" data-page="registro">Registro</a></li>
          <li class="has-submenu">
            <a href="programa-de-fomento.html" data-page="fomento">Programa de Fomento</a>
            <ul class="submenu">
              <li><a href="programa-de-fomento-convocatorias.html">Convocatorias y Resultados</a></li>
              <li><a href="programa-de-fomento-tramites.html">Trámites</a></li>
              <li><a href="programa-de-fomento-eventos.html">Eventos Externos</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="organos-representacion.html" data-page="organos">Órganos de representación</a>
            <ul class="submenu">
              <li><a href="organos-comite.html">Comité</a></li>
              <li><a href="organos-consejo.html">Consejo</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="multimedia.html" data-page="multimedia">Multimedia</a>
            <ul class="submenu">
              <li><a href="multimedia-material-apoyo.html">Material de Apoyo</a></li>
              <li><a href="multimedia-videos.html">Videos OSC's</a></li>
            </ul>
          </li>
          <li><a href="contactanos.html" data-page="contacto">Contáctanos</a></li>
        </ul>
      </nav>
  
      <button class="menu-toggle" aria-label="Abrir menú">
        <span></span><span></span><span></span>
      </button>
    </div>
  </header>